*{
    box-sizing: border-box;
}
#wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
}
body{
    margin: 0;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.container{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 15px;


    @media (min-width: 375px) {
        padding: 0 30px;
    }
}
a{
    text-decoration: none;
}
p{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
}
h1{
    font-weight: 700;
    font-size: 38px;
    line-height: calc(46 / 38);
    color: $basic-white;
}
h2{
    line-height: calc(46 / 38);
    font-size: 30px;
    
    @media (min-width: 768px) {
        font-weight: 700;
        font-size: 38px;
    }
}
h3{
    line-height: calc(37 / 30);
    font-size: 20px;

    @media (min-width: 768px) {
        font-weight: 700;
        font-size: 30px;
    }
}
h4{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: $hcolor;
    padding-top: 30px;
}
h5{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(17 / 14);
    letter-spacing: 1px;
    text-transform: uppercase;
}
h6{
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
}