*{
    box-sizing: border-box;
}
#wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
}
body{
    margin: 0;
    font-family: 'montserrat';
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    background: #000;
}
.container{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 30px;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: auto;
    vertical-align: top;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5{
    margin: 0;
    padding: 0;
}
h1{
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: $basic-white;
}
h2{
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
}
h4{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: $hcolor;
    padding-top: 30px;
}
