.main__cardsp{
    h2{
        padding: 10px 0 30px 0;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (min-width: 768px) {
        padding: 12px 0 58px 0;
        }
    }

    // &::before{
    //     position: absolute;
    //     left: 20px;
    //     right: 20px;
    //     top: 0;
    //     bottom: 50%;
    //     background:#CACADB;
    //     border-radius: 0px 0px 12px 12px;
    // }
}
.main__cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
    line-height: 26px;
    color: $basic-white;
    padding-bottom: 30px;

    @media (min-width: 768px) {
        padding: 0;
    }

    &-card-li{
        width: 100%;
        display: flex;
        padding: 0 30px 30px 30px;

        @media (min-width: 768px) {
            width: calc(100% / 2);
            padding: 0 30px 60px 30px;
        }
        @media (min-width: 992px) {
            width: calc(100% / 3);
        }
    }
    &-card{
        width: 100%;
    }
    &-img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 92px;
        height: 92px;
        align-self: center;
        background: #FFFFFF;
        border-radius: 24px;

        img{
            width: 64px;
            height: 64px;
        }
    }
    p{
        padding-top: 15px;
    }
}

.main__card-site{
    background: $footer;
    
    &-ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    &-li{
        background: $basic-white;
    }
    &-date{
        color: $grey;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 15px;
        text-transform: uppercase;
        border-bottom: 4px solid $border;
    }
    &-text{
        padding-top: 15px;
        font-size: 14px;
        line-height: 22px;
    }
    &-content{
        padding: 30px;

        a{
            color: $active-reg;
        }
        h6{
            padding-bottom: 15px;
        }
    }
}