.main__cardsp{
    h2{
        padding: 10px 0 30px 0;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (min-width: 768px) {
        padding: 12px 0 58px 0;
        }
    }

    // &::before{
    //     position: absolute;
    //     left: 20px;
    //     right: 20px;
    //     top: 0;
    //     bottom: 50%;
    //     background:#CACADB;
    //     border-radius: 0px 0px 12px 12px;
    // }
}
.main__cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
    line-height: 26px;
    color: $basic-white;
    padding-bottom: 30px;

    @media (min-width: 768px) {
        padding: 0;
    }

    &-card-li{
        width: 100%;
        display: flex;
        padding: 0 30px 30px 30px;

        @media (min-width: 768px) {
            width: calc(100% / 3);
            padding: 0 30px 60px 30px;
        }
    }
    &-card{
        width: 100%;
        max-width: 400px;
    }
    &-img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 92px;
        height: 92px;
        align-self: center;
        background: #FFFFFF;
        border-radius: 24px;

        img{
            width: 64px;
            height: 64px;
        }
    }
    p{
        padding-top: 15px;
    }
}