.head{
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding: 0 0 60px 0;
}

.header{
    &__one{
        a{
            color: $grey;
        }
    }
    &__logo{
        max-width: 165px;
    }
    &__info-lang{
        &:hover{
            background: #F5F5FA;
            border-radius: 8px;
            transition: all 0.8s;
        }
    }
    &__info-address{

        &::before{
            display: none;

            @media (min-width:690px) {
                content: '';
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $grey;
                margin: 0 10px;
                vertical-align: middle;
            }
        }
    }
    &__info-tell{
        a{
            &::before{
                display: none;
    
                @media (min-width:690px) {
                    content: '';
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: $grey;
                    margin: 0 10px;
                    vertical-align: middle;
                }
            }
            &::after{
                display: none;
                
                @media (min-width:690px) {
                    content: '';
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: $grey;
                    margin: 0 10px;
                    vertical-align: middle;
                }
            }
        }
    }
    &__menu{
        &-list{
            a{
                color: $active-reg;

                &:after{
                    background: $accent;
                }
                &:hover::after{
                    background: $accent;
                }
            }
        }
        &-list:last-child{
            a{
                color: $accent;
                text-decoration: 2px underline;
                text-underline-offset: 4px;
            }
        }
    }
    label{
    
        &:after,
        &:before,
        span{
            background: $h5;
        }
    }
}
.contact-wrapper{
    padding: 0 0 60px 0;
}
.contact{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;

    @media (min-width:992px) {
        grid-template-columns: repeat(2, 1fr);
    }

    &__left{
        font-size: 21px;
        line-height: calc(30 / 21);

        &-address{
            border-bottom: 4px solid $border;
            padding: 0 0 30px 0;

            address{
                font-style: normal;
            }
        }
        &-tell{
            display: flex;
            flex-direction: column;
            border-bottom: 4px solid $border;

            [href^="tell"]{
                color: $h5;
                padding: 30px 0 15px 0;
                transition: all 0.8s;

                &:hover{
                    color: $active-reg;
                }
            }
            [href^="mailto"]{
                color: $active-reg;
                padding: 0 0 30px 0;
                transition: all 0.8s;

                &:hover{
                    color: $accent;
                }
            }
        }
        &-social{
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 1px;
            text-transform: uppercase;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 30px 0 0 0;
            
            .icon-Facebook-Header{
                font-size: 38px;
                margin-right: 10px;
            }
            
            a{
                color: $active-reg;
                transition: all 0.8s;

                &:hover{
                    color: $accent;
                }
            }
            span{
                display: inline-block;
            }
        }
    }
    &__right{
        background: $footer;
        padding: 30px;

        h3{
            background: $gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding: 0 0 30px 0;
        }
        h5{
            color: $grey;
            padding: 0 0 15px 0;
        }
    }
    *{
        &:focus{
            outline-color: $active-reg;
        }
        &:invalid{
            outline-color: $invalid;
        }
    }
    input{
        width: 100%;
        height: 56px;
        margin-bottom: 15px;
        border: 1px solid $basic-white;
        border-radius: 8px;
        padding-left: 15px;
        font-family: 'montserrat';

        &:focus{
            color: $active-reg;
        }
        &:invalid{
            color: $invalid;
        }
        &::placeholder{
            color: $grey;
        }
    }
    textarea{
        max-width: 100%;
        min-width: 100%;
        height: 130px;
        min-height: 130px;
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid $basic-white;
        border-radius: 8px;
        padding-left: 15px;
        font-family: 'montserrat';

        &::placeholder{
            color: $grey;
        }
    }
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(20 / 16);
        width: 100%;
        height: 56px;
        background: $active-reg;
        color: $basic-white;
        border: 1px solid $active-reg;
        border-radius: 12px;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);

        &:hover{
            background: $btn-h;
        }
        &:active{
            background: $btn-a;
        }
    }
}
.footer__main{
    padding: 30px 0;
}
.footer__list{
    padding: 0;
    border: none;
    &-llc{
        text-align: end;
    }
}
