#dropmenu{
    opacity: 0;
    position: absolute;
    visibility: hidden;

    &:checked{
        ~ .header__menu{
            display: block;
        }
    }
}
.dropmenu{
    position: absolute;
    width: 32px;
    height: 32px;
    margin-top: 7px;
    right: 20px;

    @media (min-width: 768px) {
        display: none;
    }

    &:after,
    &:before,
    span{
        content: '';
        display: block;
        position: absolute;
        font-size: 0;
        line-height: 0;
        height: 2px;
        left: 7px;
        right: 7px;
        background: $basic-white;
    }

    &:before{
        top: 10px;
    }
    &:after{
        top: 50%;
        transform: translateY(-50%);
    }
    span{
        bottom: 10px;
    }
}