#dropmenu{
    opacity: 0;
    position: absolute;
    visibility: hidden;

    &:checked{
        ~ .head .dropmenu{
            position: fixed;
        }
        ~ .head .header__menu{
            opacity: 1;
            visibility: visible;

            .header__menu-list{
                opacity: 1;
                transform: translateY(0);
                transition: all .8s;

                &:nth-child(2){
                    transition-delay: 0.2s;
                }
                &:nth-child(3){
                    transition-delay: 0.4s;
                }
                &:nth-child(4){
                    transition-delay: 0.6s;
                }
                &:nth-child(5){
                    transition-delay: 0.8s;
                }
            }
        }
        ~ .main .main__symbol-h1{
            display: none;
        }
    }
}
.dropmenu{
    position: absolute;
    width: 32px;
    height: 32px;
    margin-top: 7px;
    right: 20px;
    z-index: 5;

    @media (min-width: 768px) {
        display: none;
    }

    &:after,
    &:before,
    span{
        content: '';
        display: block;
        position: absolute;
        font-size: 0;
        line-height: 0;
        height: 2px;
        left: 7px;
        right: 7px;
        background: $basic-white;
    }

    &:before{
        top: 10px;
    }
    &:after{
        top: 50%;
        transform: translateY(-50%);
    }
    span{
        bottom: 10px;
    }
}